# General
.DS_Store
Thumbs.db

# Environments
.env
.venv
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Editor directories
.idea/
.vscode/
*.swp

# Project specific

screenshots/
*.png
*.log
dev_log.md
